In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df= pd.read_excel(r'C:\Users\aless\Desktop\Milano\Subjects\ROBOTICS\Projects\Project1\Cartel1.xlsx', sheet_name='value_v_computed')

In [24]:
v_computed=pd.DataFrame(df,columns=['V_COMPUTED'])

In [25]:
v_computed.head()

   V_COMPUTED
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

In [26]:
f= pd.read_excel(r'C:\Users\aless\Desktop\Milano\Subjects\ROBOTICS\Projects\Project1\Cartel1.xlsx', sheet_name='value_v_bag')

In [27]:
v_bag=pd.DataFrame(f,columns=['V_BAG'])

In [28]:
v_bag.head()

   V_BAG
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X=v_computed
y=v_bag

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lm=LinearRegression()

In [48]:
X = X.replace([np.inf, -np.inf], np.nan)
X = X.dropna()
X = X.reset_index()

y = y.replace([np.inf, -np.inf], np.nan)
y = y.dropna()
y = y.reset_index()

In [49]:
v_b=y
v_c=X

In [50]:
v_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052 entries, 0 to 5051
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  5052 non-null   int64
 1   index    5052 non-null   int64
 2   V_BAG    5052 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 118.5 KB

In [47]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052 entries, 0 to 5051
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       5052 non-null   int64
 1   V_COMPUTED  5052 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 79.1 KB

In [46]:
print(lm.coef_)

[[ 1.00000000e+00 -1.31609443e-17]
 [-8.12802143e-04  1.02768920e+00]]

In [ ]:
coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
coeff_df